@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.markdown {
  h3{
    font-size: larger;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
}